<!-- inherit from base.html-->
{% extends "my_project/base_template.html" %}

<!-- Replace block content in base_template.html -->
{% block content %}
<h1>Welcome to my Data Analytics app!</h1>

<h2>In this app, the user will have the oppurtunity to conduct statistical tests on a dataset. At the moment, 
    the functionality of this app is low in regard in to the statistical tests, but with Sprint 2 we hope to be up to speed. At the navbar, the "Dataset" option will bring you to all active characters in the dataset that can be tested. Those characters were imported from a csv file using a python script. Likewise, if you choose the "Projects" option, you will be brought to the page where you can access all active projects. With either choice, you may add, view, update, or delete any instances</h2>

<h3>Hope you enjoy!</h3>

{% endblock %}
